# Eclipse specific
.classpath
.project
.settings/
.apt_generated/
.factorypath

# IntelliJ specific
.idea/
*.iml
*.iws
*.ipr

# build
target/

# Logs
*.log

# Reports
/extent-reports/
test-output/
allure-results/

